.Play {
  text-align: center;
}

.Play-game-board {
  display: flex;
  justify-content: center;
}

.Play-letter-bubble {
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0.6rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.Play-primary-location {
  background-color: greenyellow;
}

.Play-secondary-location {
  background-color: rgb(162, 162, 162);
}

.Play-result-hidden {
  opacity: 0;
  transition: opacity 500ms ease-out;
}