.Play {
  text-align: center;
  /* background-image: url("../../../public/images/underwater-1170130.jpg"); */
  flex-grow: 1;
}

.Play-before-start > button, .Play-before-start > div {
  margin-top: 3rem;
}

.Play-game-info-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.Play-game-info {
  border-radius: 10% / 15%;
  padding: .4rem;
}

.Play-game-info > div {
  font-family: NTR;
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin: .4rem 0;
}

.Play-timer {
  display: flex;
  justify-content: center;
}

.Play-timer > div {
  display: flex;
  align-items: center;
}

.Play-timer > div:first-of-type {
  padding: .2rem 0 0;
}

.Play-timer-digits {
  font-size: 1.4rem;
  font-family: NTR;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 10% / 15%;
  padding: .3rem .4rem .1rem;
}

.Play-word-input {
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0px 1px 2px gray;
}

.Play-word-input:focus {
  outline: 1px solid gray;
}

.Play-action-icon-button {
  padding: .6rem;
  border-radius: 50%;
  margin: 0 0.8rem;
  background-color: var(--play-action-buttons);
  border: none;
}

.Play-top-buttons {
  text-align: center;
  padding: 0.4rem;
}

.Play-top-buttons button, .Play-submit-button {
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  position: relative;
  text-align: center;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.Play-submit-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Play-submit-button {
  color: #737373;
  padding: .5rem .4rem .3rem;
  border-radius: 20% / 30%;
  margin: 0.5rem;
  border: none;
  font-family: NTR;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.Play-submit-button:hover {
  color: #262626;
}

.Play-submit-button:active {
  box-shadow: inset 0px 2px 3px rgb(179, 179, 179);
}

.Play-submit-button:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 1px solid #ddd;
  position: absolute;
  top: -.3rem;
  left: -.3rem;
  bottom: -.3rem;
  right: -.3rem;
  z-index: -1;
  border-radius: 24% / 35%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.Play-top-buttons button:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -.4rem;
  left: -.4rem;
  bottom: -.4rem;
  right: -.4rem;
  z-index: -1;
  border-radius: inherit;
  box-shadow: inset 0px 8px 48px #ddd;
}

.Play-top-buttons button:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.Play-top-buttons button:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

.Play-before-start > div {
  font-size: 4em;
}

.Play-game-board, .Play-extra-bubbles {
  display: flex;
  justify-content: center;
}

.Play-game-board {
  max-height: 14.4rem;
  overflow: hidden;
  margin: .2rem .5rem .5rem;
  padding: .4rem 0 0;
}

.Play-extra-bubbles > div {
  display: flex;
}

.Play-letter-bubble, .Play-empty-bubble-space {
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Play-letter-bubble {
  height: 3rem;
  width: 3rem;
  margin: 0 .4rem .6rem;
  /* border: 1px solid gray; */
  border-radius: 50% 50% 50% 50%;
  font-size: 1.5rem;
  user-select: none;
  box-shadow: 0 .3rem .45rem rgba(0, 0, 0, 0.2), inset 0px 0.2rem 0.6rem 0.1rem rgba(255, 255, 255, 1);
  position: relative;
  transform: skew(0deg, 0deg);
  background-color: var(--body-background);
}

.Play-letter-bubble:hover::after {
  z-index: -1;
  box-shadow: inset 0 2rem 4rem rgba(255, 255, 255, 0.3);
}

.Play-letter-bubble:after {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255, 255, 255, 0.4) 0%,rgba(255,255,255,0) 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: inset 0 .3rem .45rem rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 .3rem .45rem rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 .3rem .45rem rgba(255, 255, 255, 0.3);

  content: "";
  height: 2.7rem;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  position: absolute;
  width: 2.7rem;
}

.Play-double-bubble {
  outline: 4px solid rgb(165, 169, 180);
}

.Play-triple-bubble {
  outline: 4px solid var(--play-triple-bubble);
}

.Play-empty-bubble-space {
  margin: 0 .4rem;
  transition: height 800ms;
  height: 3.6rem;
}

.Play-next-letters {
  background-color: rgb(180, 180, 180);
}

.Play-collapse {
  height: 0;
  margin: 0 0.4rem;
}

.Play-primary-location {
  background-color: greenyellow;
}

.Play-secondary-location {
  background-color: rgb(162, 162, 162);
}

.Play-result-hidden {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.Play-popup-highlight {
  margin: 1rem 0;
  padding: .4rem;
  text-align: center;
  background-color: var(--light-sea-blue);
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgb(255, 255, 136), 1px 2px 2px rgb(195, 195, 195);
  color: black;
}

.Play-popup-highlight > div:last-of-type {
  font-size: 1.6rem;
}

.Play-popup-game-over-text.MuiDialogTitle-root {
  text-align: center;
  margin-bottom: -1.6rem;
}