.Leaderboards-table-container.MuiTableContainer-root {
  min-width: 20rem;
  max-width: 40rem;
  display: inline-block;
}

.Leaderboards-table-container .MuiTable-root {
  width: 100%;
}

.LeaderboardTable-header {
  display: flex;
  align-items: center;
  margin: 1rem 0 0.3rem;
}

.LeaderboardTable-header > div {
  margin-left: 0.5rem;
}

@media screen and (max-width: 420px) {
  /* shows only 3 columns if screen width is less than 420px */
  .Leaderboards-table-container .MuiTableCell-root:nth-of-type(n+4) {
    display: none;
  }
}