.AuthForm {
  display: flex;
  justify-content: center;
}

.AuthForm h2 {
  margin-top: 0;
}

.AuthForm .AuthForm-field {
  display: block;
  width: clamp(15rem, 80vw, 32rem);
}

.AuthForm .AuthForm-button, .AuthForm .AuthForm-field {
  margin-top: 1rem;
}

.AuthForm .AuthForm-innerWrapper {
  padding: 2rem;
  margin: 2rem;
}

.AuthForm .AuthForm-button {
  text-transform: none;
}

.AuthForm .AuthForm-error {
  margin-top: 0.5rem;
}

.AuthForm .AuthForm-error:first-of-type {
  margin-top: 0.7rem;
}