@font-face {
  font-family: 'Luckiest Guy';
  src: local('Luckiest Guy'),
       url('../fonts/LuckiestGuy-Regular.ttf');
}

@font-face {
  font-family: 'NTR';
  src: local('NTR'),
       url('../fonts/NTR-Regular.ttf');
}