.NavBar.MuiAppBar-root {
  background-color: var(--navbar);
  border-radius: 0.15rem;
  width: calc(100% - 8px);
}

.NavBar-links.MuiButton-root, .NavBar-logo-text.MuiTypography-root, .NavBar-hamburger.MuiIconButton-root {
  color: var(--navbar-text);
}

.NavBar-useable-space.MuiToolbar-root {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.NavBar-logo-text.MuiTypography-root {
  font-family: 'Luckiest Guy';
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: .2rem;
}

.NavBar-hamburger-wrapper.MuiBox-root, .NavBar-left-links.MuiBox-root {
  grid-column: 1 / 2;
}

.NavBar-logo.MuiBox-root {
  grid-column: 2 / 3;
  position: relative;
}

.NavBar-user-icon.MuiBox-root, .NavBar-login-reg-container.MuiBox-root {
  grid-column: 3 / 4;
}

.NavBar-user-icon.MuiBox-root {
  text-align: right;
  justify-content: right;
}

.NavBar-login-reg-container.MuiBox-root {
  justify-content: right;
}

@media screen and (max-width: 499px) {
  .NavBar-logo-text.MuiTypography-root {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 439px) {
  .NavBar-logo-text.MuiTypography-root {
    font-size: 1.2rem;
  }
}